.App {
  text-align: center;
  margin: 3em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* .App-Template {
  display: flex;
  flex-direction: column;
  border-style: ridge;
} */

.user-header {
  text-align: left;
  border-width: .2em;
}