body {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family:'Helvetica';
  height: 100%;
  width: 100%;
  background-color: orange;
  height: 100vh;
}

.App-Template {
  background-color: blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-style: ridge;
}

.user-header {
  text-align: left;
  border-width: .2em;
  background-color: green;
  min-width: 100%;
}

.template {
  border-style: double;
}